<table class="mt-3 table table-sm table-hover">
    <thead>
    <tr>
        <th scope="col">Référence</th>
        <th scope="col">Titre</th>
        <th scope="col">Auteur</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
        {% if client %}
        <th scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.idouvrage }}</td>
            <td>{{ book.titre }}</td>
            <td>{{ book.auteur }}</td>
            <td class="align-right">{{ book.qte }}</td>
            <td>{{ book.prix }}</td>
            {% if client and not book.validee %}
            <td scope="col"><a href="order.php?action=delete_book&id={{book.idcmd}}&book={{book.idouvrage}}" class="btn btn-sm btn-danger">X</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    {% if client and not books[0].validee %}
    <tfoot>
        <tr>
            <form accept-charset="utf-8">
                <input type='hidden' id='commandID' value="{{ cmd }}">
                <td scope="col" colspan="2">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Titre</label>
                        </div>
                        <select class="custom-select" name="titre" id="titreselect">
                          <option selected>Sélectionner...</option>
                          {% for book in allbooks %}
                          <option id="titre{{book.idouvrage}}" value="{{book.idouvrage}}">{{book.titre}}</option>
                          {% endfor %}
                        </select>
                      </div>
                </td>
                <td scope="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Auteur</label>
                        </div>
                        <select class="custom-select" name="auteur" id="auteurselect">
                          <option selected>Sélectionner...</option>
                          {% for book in allbooks %}
                          <option id="auteur{{book.idouvrage}}" value="{{book.idouvrage}}" >{{book.auteur}}</option>
                          {% endfor %}
                        </select>
                      </div>
                </td>
                <td scope="col">
                    <input id="quantity" class="form-control" name="qte"
                           type="number" placeholder="Qté" min="0" max="10" step="1" required />
                </td>
                <td scope="col">
                    <input class="form-control btn btn-success"
                        name="submit" id="submitAddBook" type="submit" value="Ajouter" />
                </td>
            </form>
        </tr>
    </tfoot>
    {% endif %}
</table>
