{% extends "layout.html" %}
{% block head %}
<script src="public/index.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div id="header" class="row my-3">
        <div class="col-md-9">
            <h1>Bonjour, {{ user.prenom }}</h1>
        </div>
        <div class="col-md-3 row justify-content-end">
            <a href="logout.php" class="btn btn-outline-danger mt-3">Se Déconnecter</a>
        </div>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div id="main" class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="book-tab" data-toggle="tab" href="#book" role="tab" aria-controls="book" aria-selected="true">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Ouvrages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="false">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    Commandes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="false">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Clients
                </a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <!-- OUVRAGES -->
            <div class="tab-pane fade show active" id="book" role="tabpanel" aria-labelledby="book-tab">
                <table class="mt-3 table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Référence</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.titre }}</td>
                        <td>{{ book.auteur }}</td>
                        <td>{{ book.prix }}</td>
                        <td class="align-right">{{ book.idouvrage }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <form action="add_book.php" method="post" accept-charset="utf-8">
                            <tr>
                                <td scope="col">
                                    <input class="form-control" name="titre"
                                           type="text" placeholder="Titre" required />
                                </td>
                                <td scope="col">
                                    <input class="form-control" name="auteur"
                                           type="text" placeholder="Auteur" required />
                                </td>
                                <td scope="col">
                                    <input class="form-control" name="prix"
                                           type="number" placeholder="Prix" min="0" max="100" step="0.01" required />
                                </td>
                                <td scope="col">
                                    <input class="form-control btn btn-success"
                                           name="submit" type="submit" value="Ajouter" />
                                </td>
                            </tr>
                        </form>
                    </tfoot>
                </table>
            </div>

            <!-- CLIENTS -->
            <div class="tab-pane fade show" id="client" role="tabpanel" aria-labelledby="client-tab">
                <table class="mt-3 table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">N° Client</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Adresse</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                    <tr>
                        <th scope="row">{{ client.idpersonne }}</th>
                        <td>{{ client.nom }}</td>
                        <td>{{ client.prenom }}</td>
                        <td>{{ client.adresse }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- COMMANDES -->
            <div class="tab-pane fade active" id="order" role="tabpanel" aria-labelledby="order-tab">
                <table class="mt-3 table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">N° Commande</th>
                        <th scope="col">Date</th>
                        <th scope="col">Nom Client</th>
                        <th scope="col">Statut</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for commande in commandes %}
                    {% if commande.validee %}</td>
                    <tr class="table-success">
                    {% else %}
                    <tr>
                    {% endif %}
                        <th scope="row">{{ commande.idcmd }}</th>
                        <td>{{ commande.date }}</td>
                        <td>{{ commande.nom }}</td>
                        <td>
                            {% if not commande.validee %}
                                <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="En cours"></i>
                            {% else %}
                                <i class="fa fa-check" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Validée"></i>
                            {% endif %}
                        </td>
                        <td><a class="btn btn-sm btn-success" value="Détails" id="a{{ commande.idcmd }}" data-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="{{ commande.idcmd }}">Détails</a></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                        <div class="collapse" id="{{ commande.idcmd }}">
                            <div class="card card-body">

                            </div>
                        </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

{% endblock %}