{% extends "layout.html" %}
{% block head %}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        background-image:url(public/background.jpg);
        background-attachment:fixed;
        background-size:cover;
    }
</style>

{% endblock %}
{% block content %}
<a href="login.php" class="btn btn-outline-light m-4" style="position:absolute;right:0">Se Connecter</a>
<div class="container d-flex h-100 justify-content-center align-items-center">
    <div class="row border border-white rounded" style="padding: 10%">
        <blockquote class="blockquote">
            <h1 class="display-4 mb-0 text-white">La vie est un livre merveilleux.</h1>
            <footer class="blockquote-footer text-white">Monica Bellucci</cite></footer>
        </blockquote>
    </div>
</div>
{% endblock %}
