{% extends "layout.html" %}
{% block head %}
<script src="public/indexcli.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div id="header" class="row my-3">
        <div class="col-md-9">
            <h1>Bonjour, {{ user.prenom }}</h1>
        </div>
        <div class="col-md-3 row justify-content-end">
            <a href="logout.php" class="btn btn-outline-danger mt-3">Se Déconnecter</a>
        </div>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div id="main" class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="false">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    Mes Commandes
                </a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <!-- COMMANDES -->
            <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
                <table class="mt-3 table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">N° Commande</th>
                        <th scope="col">Date</th>
                        <th scope="col">Qté commandée</th>
                        <th scope="col">Statut</th>
                        <th scope="col"><a href="order.php?action=new&id" class="btn btn-primary btn-sm">Nouvelle commande</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if commandes %}
                    {% for commande in commandes %}
                    {% if commande.validee %}</td>
                    <tr class="table-success">
                        {% else %}
                    <tr>
                        {% endif %}
                        <th scope="row">{{ commande.idcmd }}</th>
                        <td>{{ commande.date }}</td>
                        <td>{{ commande.total_qty }}</td>
                        <td>
                            {% if not commande.validee %}
                            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="En cours"></i>
                            {% else %}
                            <i class="fa fa-check" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Validée"></i>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-sm btn-success" id="a{{ commande.idcmd }}" data-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="{{ commande.idcmd }}">Détails</a>
                                {% if not commande.validee %}
                                <a href="order.php?id={{commande.idcmd}}&action=validate" class="btn btn-sm btn-primary" id="valid{{ commande.idcmd }}">Valider</a>
                                {% endif %}
                                <a href="order.php?id={{commande.idcmd}}&action=cancel" class="btn btn-sm btn-danger" id="annuler{{ commande.idcmd }}">Annuler</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="collapse" id="{{ commande.idcmd }}">
                                <div class="card card-body">
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center">
                            Aucune commande pour le moment.
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

{% endblock %}
