{% extends "layout.html" %}
{% block content %}
<div class="container py-3">
    <h1>Se connecter</h1>

    <div class="form-group row justify-content-center">
        <form action="/login_check.php" method="post" class="col-7">
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <label for="username">Nom</label>
                <input id="username" class="form-control mb-1" type="text" name="username" required />
                <label for="password">Mot de passe</label>
                <input id="password" class="form-control" type="password" name="password" required />
                <button type="submit" class="form-control btn btn-success mt-4" value="Submit">Se connecter</button>
            <p class="mt-2">Vous n'avez pas encore de compte? <a href="register.php">Inscrivez-vous!</a></p>
        </form>
    </div>
</div>
{% endblock %}
