{% extends "layout.html" %}
{% block head %}
<script src="public/register.js"></script>
{% endblock %}
{% block content %}
<div class="container py-3">
    <h1>S'inscrire</h1>

    {% if error %}
    <div class="col-6 col-offset-3 alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <div class="form-group row justify-content-center">
        <form method="post" class="col-7">
            <div class="row">
                <div class="col">
                    <label for="lname">Nom</label>
                    <input id="lname" class="form-control mb-1 col" type="text" name="lname" required />
                </div>
                <div class="col">
                    <label for="fname">Prénom</label>
                    <input id="fname" class="form-control mb-1 col" type="text" name="fname" required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                <label for="address">Adresse</label>
                <input id="address" class="form-control mb-1 col" type="text" name="address" required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                <label for="password">Mot de passe</label>
                <input id="password" class="form-control" type="password" name="password" required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="cpassword">Répéter le mot de passe</label>
                    <input id="cpassword" class="form-control" type="password" name="cpassword" required />
                    <div class="invalid-feedback">
                        Les mots de passe ne correspondent pas.
                    </div>
                </div>
            </div>

            <button type="submit" class="form-control btn btn-success mt-4" value="Submit">S'inscrire</button>
        </form>
    </div>
</div>
{% endblock %}